<!DOCTYPE html>
<html ng-app="myApp">
<head>
<style type="text/css">
  .strike {
    text-decoration: line-through;
    color: #838383;
  }

  .clean {
    text-decoration: none;
    color: #000;
  }
</style>
  <title>Lab 4</title>
  <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
  <script src="angular.min.js"></script>
  <script type="text/javascript">
    var app = angular.module('myApp', []);

    app.factory('todoService', function(){
      var todosCreated = 3;

      var todos = [
        {id: 1, task: 'go round mums', completed : false},
        {id: 2, task: 'get liz back', completed : false},
        {id: 3, task: 'sort life out', completed : false}
      ]

      var getTodos = function(){
        return todos;
      }

      var createTodo = function(todo) {
        todo.id = ++todosCreated;
        todos.push(todo);
      }

      var deleteTodo = function(todo) {
        todos.splice(todos.indexOf(todo),1);
      }

      var updateTodo = function(todo) {
        todos.forEach(function(val) {
          if (val.id === todo.id) {
            val.task = todo.task;
            return;
          }
        });
      }

      return {
        getTodos : getTodos,
        createTodo : createTodo,
        deleteTodo : deleteTodo,
        updateTodo : updateTodo
      }
    })
    app.controller('todosController', function($scope, todoService){
      $scope.todos = todoService.getTodos();

      $scope.addTodo = function(task) {
        todoService.createTodo({task : task, completed : false});
        $scope.newTask = "";
      }

      $scope.destroy = function(todo) {
        todoService.deleteTodo(todo);
      }

      $scope.edit = function(todo) {
        todoService.updateTodo(todo);
      }

      $scope.incompleteTodos = function() {
        var incomplete = 0;
        $scope.todos.forEach(function(todo){
          if (!todo.completed) {
            ++incomplete;
          }
        });
        return incomplete;
      }

      $scope.warnUser = function(){
        return ($scope.incompleteTodos() > 3) 
        ? "label-warning" 
        : "label-success";
      }


    })

    app.filter('completeFilter', function(){
      return function(todos,complete){
        var results = [];
        todos.forEach(function(todo){
          if (!todo.completed || complete) {
            results.push(todo);
          }
        });
        return results;
      }
    });

    app.directive('todoRow', function($compile){
      return {
        restrict: 'A',
        templateUrl: 'todoRow.template.html',
        scope : {
          todo : '=',
          "delete" : '=',
          edit : '='
        },
        link : function($scope, $element, $attr){
          $scope.todoCopy = {};
          var editForm = null;

          $scope.update = function(todo) {
            $scope.todoCopy = angular.copy(todo);
            var $inputRow = 
            '<table class="table">' +
            '<tr>' +
              '<td>' + 
                '<input type="text" class="form-control" ng-model="todoCopy.task" />' +
              '</td>' +
              '<td>' + 
                '<button ng-click="save(todoCopy)" class="btn btn-primary">Save</button>' +
              '</td>' +
              '<td>' + 
                '<button ng-click="cancel()" class="btn btn-primary">Cancel</button>' +
              '</td>' +
            '</tr>'+
            '</table>'

            var compiledRow = $compile($inputRow)($scope);
            editForm = compiledRow;
            $element.after(compiledRow);
          }

          $scope.cancel = function(){
            if (editForm != null) {
              editForm.remove(editForm);
              editForm = null;
            }
          }

          $scope.save = function(todo){
            $scope.edit(todo);
            editForm.remove();
            editForm = null;
            $scope.todoCopy = {};
          }
        }
      }
    });

    app.directive('myFooter', function(){
      return {
        restrict: 'A',
        templateUrl: 'myFooter.template.html',
        scope : {
          todos : '=',
        },
        link : function($scope,$element,$attr) {
          $scope.countComplete = function(){
            var count = 0;
            $scope.todos.forEach(function(todo){
              if (todo.completed) {
                count++;
              }
            });
            return count;
          }
        }
      }
    })
  </script>
</head>
<body ng-controller="todosController">
  <div class="well">
    <h1>
      ngTodos
      <span class="label" ng-class="warnUser()">{{incompleteTodos()}}</span>
    </h1>
  </div>
  <div>

    <input type="text" ng-model="newTask" class="form-control" />

    <button ng-click="addTodo(newTask)" class="btn btn-primary">Add</button>
    
  </div>
  <div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Todo</th>
          <th>Mark</th>
          <th>Done?</th>
        </tr>
      </thead>
      <tbody>
        <tr todo-row ng-repeat="todo in todos | completeFilter:showComplete 
        | orderBy:'task'"  
          todo="todo" delete="destroy" edit="edit"></tr>
      </tbody>
    </table>

    <div>
      <h5>
        Show completed Todos? <input type="checkbox" ng-model="showComplete" />
      </h5>
    </div>
  </div>
  <footer my-footer todos="todos"></footer>
</body>
</html>
