<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <title>Behaviors Ng</title>
</head>
  <script src="../../angular.min.js"></script>
  <script type="text/javascript">
    var app = angular.module('myApp', []);

    app.controller('todosController', function($scope){

      $scope.userName = "";

      $scope.assignUserName = function(name) {
        $scope.userName = name;
        console.log($scope)
        console.log($scope.$watch)
      }

      console.log($scope)
    });
  </script>
<body ng-controller="todosController">
  <input type="text" ng-model="inputName" />
  <button ng-click="assignUserName(inputName)">Submit</button>
  <h1 ng-show="userName">Active User: {{userName}}</h1>
</body>
</html>